.container-home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-logo {
        width: 78%;
        //background-image: url('../assets/logos_coderhouse.png');
    }
}

@media (min-width: 768px) {
    .container-home {    
        .img-logo {
            width: 100%;
        }
    }    
}

